{% extends "base.html.twig" %}
{% block body %}

	<p>
		{{ form_row(template.name)}}
	</p>
	<p>
		{{ form_row(template.image)}}
	</p>
	<p>
		{{ form_row(template.date)}}
	</p>
	<p>
		{{ form_row(template.tag)}}
	</p>

{% endblock %}
