{% extends "base.html.twig" %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey }}
		</div>
	{% endif %}
	<div class="login-container">
		<form method="post" class="container">
			<label for="username">Username :</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required/>
			<label for="password">Password: </label>
			<input type="password" id="password" name="_password" class="form-control" required/>
			<button type="submit" class="btn btn-primary mt-3">Connexion</button>
		</form>
		<form action="{{ path('User_create') }}" method="post">
			<button class="btn btn-grey mt-3" >creat an account</button>
		</form>
		
	</div>

{% endblock %}
