{% extends "base.html.twig" %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey }}
		</div>
	{% endif %}
	<div class="login-container">
		<form method="post" class="container">
			<label for="username">Nom d'utilisateur</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required/>
			<label for="password">Mot De Passe</label>
			<input type="password" id="password" name="_password" class="form-control" required/>
			<button type="submit" class="btn btn-primary mt-3">Connexion</button>
			<button type="submit" class="btn btn-grey mt-3">crée un compte</button>
		</form>
	</div>

{% endblock %}
