.logo {
  width: 120px;
}

.footerblack {
  height: 400px;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  background-color: #000;
  border-radius: 0 0 70px 70px;
  color: #fff;
  font-size: 60px;
  padding: 2% 10%;
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .footerblack {
    font-size: 40px;
    padding: 2% 5%;
  }
}


.footerwhite {
  background-color: aliceblue;
  padding-left: 5px;
  color: black;
  width: 15%;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: large;
}


.footerbestecole {
  font-family: 'Inter', sans-serif;
  font-weight: Thin;
  font-size: medium;
  text-align: center;
}

.newsletter {
  margin-top: 50px;
  margin-left: 30%;
  width: 750px;
  height: 200px;
  text-align: center;
  background: rgb(253, 248, 248);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

@media (max-width: 768px) {
  .newsletter {

    margin-left: 10%;
    width: 90%;
  }
}

.textsmall {
  font-size: x-large;
  font-family: 'Inter', sans-serif;
}

.textmedium {
  font-size: large;
  font-family: 'Inter', sans-serif;
}

.textlarge {
  font-size: xx-large;
  font-family: 'Inter', sans-serif;
}

.bouton:hover {
  text-decoration: none
}

.bouton {
  color: black;
}

.basic {
  background-color: rgb(234, 139, 15);
}

.premium {
  background-color: rgb(121, 111, 98);
}

.gold {
  background-color: rgb(45, 45, 45);
}

.card {
  margin-top: 150px;
  border: 1px solid #ccc;
  /* Add a border to the card */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow to the card */
  width: 38rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-right {
  width: 25%;
  /* Set the width of the image to 25% of the card width */
  border-radius: 0;
  /* Remove the border radius from the image */
}

.card-title {
  font-size: 1.5em;
  /* Increase the font size of the title */
  color: rgb(0, 0, 0);
  /* Change the text color to dark grey */
  text-align: center;
  /* Center the text */
}

.card-text {
  font-size: 1.2em;
  /* Increase the font size of the text */
  color: rgb(24, 24, 24);
  /* Change the text color to medium grey */
  line-height: 1.5;
  /* Increase the line height to make the text more readable */
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.cards {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-titles {
  font-size: 24px;
  margin: 0;
}

.card-descriptions {
  font-size: 18px;
  margin: 0;
}

.card-prices {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.btns {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-oranges {
  background-color: orange;
  color: white;
}

.footer-space {
  margin-top: 300px;
}

/* Style the form container */
.login-container {
  margin: 0 auto;
  box-shadow: inset;
  border-radius: 10px;
  padding: 16px;
  background-color: #f1f1f1;
  width: 500px;
}