.logo {
  width: 120px;
}

.footerblack {
  height: 400px;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  background-color: #000;
  border-radius: 0 0 70px 70px;
  color: #fff;
  font-size: 60px;
  padding: 2% 10%;
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .footerblack {
    font-size: 40px;
    padding: 2% 5%;
  }
}


.footerwhite {
  background-color: aliceblue;
  padding-left: 5px;
  color: black;
  width: 15%;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: large;
}


.footerbestecole {
  font-family: 'Inter', sans-serif;
  font-weight: Thin;
  font-size: medium;
  text-align: center;
}

.newsletter {
  margin-top: 50px;
  margin-left: 30%;
  width: 750px;
  height: 200px;
  text-align: center;
  background: rgb(253, 248, 248);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

@media (max-width: 768px) {
  .newsletter {

    margin-left: 10%;
    width: 90%;
  }
}

.textsmall {
  font-size: x-large;
  font-family: 'Inter', sans-serif;
}

.textmedium {
  font-size: large;
  font-family: 'Inter', sans-serif;
}

.textlarge {
  font-size: xx-large;
  font-family: 'Inter', sans-serif;
}

.bouton:hover {
  text-decoration: none
}

.bouton {
  color: black;
}