{% extends 'base.html.twig' %}

{% block title %}abonnement-TempCode
{% endblock %}

{% block body %}
	<h1>Abonnement</h1>
	<hr>
	<div class="card-container d-flex">
		<div class="cards basic" >
			<h2 class="card-titles" style="color: black;">Card 1</h2>
			<p class="card-descriptions">This is the description for card 1</p>
			<p class="card-prices">$9.99/month</p>
			<button class="btns btn-oranges">Subscribe</button>
		</div>
		<div class="cards premium" >
			<h2 class="card-titles" style="color: black;">Card 2</h2>
			<p class="card-descriptions">This is the description for card 2</p>
			<p class="card-prices">$19.99/month</p>
			<button class="btns btn-oranges">Subscribe</button>
		</div>
		<div class="cards gold">
			<h2 class="card-titles" style="color: white;">Card 3</h2>
			<p class="card-descriptions " style="color: white;">This is the description for card 3</p>
			<p class="card-prices" style="color: white;">$29.99/month</p>
			<button class="btns btn-oranges">Subscribe</button>
		</div>
	</div>


</div></div><br><hr><br>{% endblock %}
