{% extends 'base.html.twig' %}

{% block title %}abonnement-TempCode
{% endblock %}

{% block body %}
	<h1>Abonnement</h1>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="card h-100 ">
					<div class="card-body basic">
						<h4 class="card-title">Basic Subscription</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Sign Up</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4 ">
				<div class="card h-100 ">
					<div class="card-body premium">
						<h4 class="card-title">Premium Subscription</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Sign Up</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4 ">
				<div class="card h-100  ">
					<div class="card-body gold">
						<h4 class="card-title ">Platinum Subscription</h4>
						<p class="card-text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
					</div>
					<div class="card-footer ">
						<a href="#" class="btn btn-primary">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <br>
    <hr>
    <br>
    

{% endblock %}
