{% extends 'base.html.twig' %}

{% block title %}contact-TempCode
{% endblock %}

{% block body %}
	<h1 style="margin-left : 10px">Contact the support: </h1>
	<br>
	<div class="card" >
		<img src="{{asset('img/TempCodeLogo.png')}}" class="card-img-right" alt="image">
		<div class="card-body">
			<h5 class="card-title">Contact Information</h5>
			<p class="card-text">
				Email: info@example.com<br>
				Phone: 555-555-5555
			</p>
		</div>
	</div>

{% endblock %}
