{% extends 'base.html.twig' %}

{% block title %}Accueil-TempCode
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex ">
			<p class="textlarge display-1">
				DESIGN YOUR MENU ONLINE AND MAKE IT ACCESSIBLE EVERYWHERE
			</p>
			<img src="{{asset('img/acceuilmenuexemple.png')}}" class="w-50"alt="image">
		</div>
	</div>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	

	{% endif %}

{% endblock %}
