{% extends 'base.html.twig' %}

{% block title %}Accueil-TempCode
{% endblock %}

{% block body %}
	<div class="d-flex ">

		<p class="textlarge display-1">
			DESIGNEZ VOTRE MENU EN LIGNE ET RENDEZ LE ACCESSIBLE PARTOUT
		</p>

		<img src="{{asset('img/acceuilmenuexemple.png')}}" alt="image">
	</div>
  
  <img src="{{asset('img/acceuilmenuexemple.png')}}" alt="image" class="image" style="max-height: 100%; width: auto;">	</div>

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<p>TESTTTTTTTT</p>

	{% endif %}


=======
		
 
{% endblock %}
