{% extends 'base.html.twig' %}

{% block title %}Accueil-TempCode
{% endblock %}

{% block body %}
	<div class="d-flex ">
		
		<p class="textlarge display-1">
			DESIGNEZ VOTRE MENU EN LIGNE ET RENDEZ LE ACCESSIBLE PARTOUT
		</p>
		<img src="{{asset('img/acceuilmenuexemple.png')}}" alt="image">	</div>
{% endblock %}
