{% extends 'base.html.twig' %}

{% block title %}Templates-TempCode
{% endblock %}

{% block body %}
	<h1>Select a template:</h1>
	<div class="template-options">
		{% for template in templates %}
			<a href="/{{ template.filename }}">
				<img src="/{{ template.image }}" alt="{{ template.name }}">
			</a>
		{% endfor %}
	</div>
{% endblock %}
