{% extends 'base.html.twig' %}
{% block body %}
	{% for plat in lists %}
		<p>
			{{plat.name}}</p>
		<p>
			{{ form_row(form.username)}}
		</p>
		<p>
			{{ form_row(form.password)}}
		</p>

	{% endfor %}

{% endblock %}
